
.idea


# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan


# Ignore CLI configuration files
.terraformrc
terraform.rc
